<h1>Add new Book using reactive form</h1>

<form class="add-book-form" (submit)="saveBook()" [formGroup]="addBookForm">

    <mat-radio-group aria-label="Select an option" formControlName="formatType">
        <mat-radio-button value="pdf">PDF</mat-radio-button>
        <mat-radio-button value="doc">Doc</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="fill">
        <mat-label>pdfFormat</mat-label>
        <input matInput type="text" name="pdfFormat" placeholder="PDF" formControlName="pdfFormat">
        <mat-icon matSuffix>picture_as_pdf</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>docFormat</mat-label>
        <input matInput type="text" name="docFormat" placeholder="docFormat" formControlName="docFormat">
        <mat-icon matSuffix>assignment</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput type="text" name="title" placeholder="Title" formControlName="title">
        <mat-icon matSuffix>title</mat-icon>
        <mat-hint class="mat-hint">
            {{titleErrorMessage}}
        </mat-hint>
    </mat-form-field>

    <br>

    <div formArrayName="authors">
        <div *ngFor="let auth of authors.controls; let i = index" class="author-container" [formGroupName]="i">
            <mat-form-field appearance="fill" class="author-field">
                <mat-label>Author</mat-label>
                <input matInput type="text" name="authors" placeholder="authors" formControlName="fullName">
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint class="mat-hint">
                    {{authorErrorMessage}}
                </mat-hint>
            </mat-form-field>
            <button mat-button class="remove-button" (click)="removeAuthor(i)">Remove</button>
        </div>
        <button mat-button class="add-button" (click)="addMoreAuthor()">Add More</button>
    </div>


    <br>

    <mat-form-field appearance="fill">
        <mat-label>Pages</mat-label>
        <input matInput type="number" name="pages" placeholder="Pages" formControlName="totalPage">
        <mat-icon matSuffix>auto_stories</mat-icon>

    </mat-form-field>

    <br>

    <div formGroupName="price">
        <mat-form-field appearance="fill">
            <mat-label>Currency</mat-label>
            <mat-select name="currency" placeholder="Currency" formControlName="currency">
                <mat-option *ngFor="let currency of Currencies" [value]="currency.value">
                    {{currency.viewValue}}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput type="number" name="price" placeholder="price" formControlName="value">
            <mat-icon matSuffix>sell</mat-icon>
        </mat-form-field>
    </div>

    <br>

    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" name="publishedOn" formControlName="publishedOn">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <br>

    <mat-slide-toggle class="toggle" name="isPublished" formControlName="isPublished">Is book
        published</mat-slide-toggle>


    <button type="submit" [disabled]="addBookForm.invalid" mat-raised-button color="primary">save</button>
</form>