.add-book-form {
    max-width: 550px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-right: 15px;
  }

  button:hover {
    background-color: gray;
    color: white;
  }

  .toggle {
    margin-top: 15px;
    margin-right: 90px;
  }
  
  .mat-hint {
    color: red;
  }

  .author-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .author-field {
    width: calc(70% - 15px); 
  }
  
  .remove-button {
    margin-left: 10px; 
  }
  
  .add-button {
    margin-right: 400px;
  }
  