footer {
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #3498db; 
  color: white; 
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link button {
  margin-left: 10px; 
  font-size: 17px;
}

.link {
  margin-left: 25px;
}

.content h2 {
  padding-top: 10px;
}
